test/Spring/Spring.Core.Tests/Context/Support/testobject.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="https://schemas.springframework.net/testobject" elementFormDefault="qualified"
  xmlns="https://schemas.springframework.net/testobject" xmlns:mstns="https://schemas.springframework.net/testobject"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="age" type="xs:positiveInteger" />
        <xs:element name="name" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>